<style>

</style>
<div class="autopagination page4">
    <p class="title">3. Програма навчальної дисципліни</p>
    {% set modules_count = 0 %}

    {% for module_name, module_data in nmkd.question_hierarchy %}
        {% set modules_count = modules_count + 1 %}
        {% set themes_count = 0 %}
        <div class="module">
            <p>ЗМІСТОВИЙ МОДУЛЬ {{ modules_count }}</p>
            <p>{{ module_name }}</p>
        </div>
        {% for theme_name, theme_data in module_data %}
            {% set themes_count = themes_count + 1 %}
            <div class="themes-questions">
                <div class="theme"><p>Тема {{ themes_count }}. {{ theme_name }}</p></div>
                <div class="theme_questions">
                    <p>
                    {% for question_name, question_data in theme_data %}
                        {{ question_name }} &nbsp;
                    {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

</div>
