{% extends 'nmkd/baseNmkd.html.twig' %}


{% block mainForm %}

<div>
<form id="set-types-form" method="POST" action="">
    <table class="table set-types-table-top" style="table-layout:fixed">
        <thead>
            <tr>
                <th style="width:25px;"> </th>
                <th style="width:500px;">Питання
                    &nbsp;<input type="text" placeholder="Пошук" style="height:20px; text-lign: ltft center; font-weight:normal;" class="search-input" id="search-field"/>
                </th>
                <th>&nbsp;Лекційне</th>
                <th>&nbsp;Практичне</th>
                <th>Семінарське</th>
                <th>Лабораторне</th>
                <th>Індивідуальне</th>
                <th>&nbsp;Самостійне</th>
            </tr>
        </thead>
  </table>
  <div id="set-types-table-wrapper" style="overflow-y:auto; max-height:450px;">
    <table class="set-types-table table table-condensed table-bordered" id="hidechecked" style="table-layout:fixed;">
        <thead>
            <tr>
                <th style="width:25px;"></th>
                <th style="width:500px;"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
			{% set m=0 %}
			{% set t=0 %}

			{% for hKey,type in hierarchy %}
				{% for key,question in questions %}
					{% if key==hKey %}
						{% if type=='module' %}
							{% set m=m+1 %}
							<tr>
								<td colspan="8" class="module">Змістовий модуль {{m}} {{question}}</td>
							</tr>
							{% set t=0 %}
						{% endif %}
						{% if type=='theme' %}
							{% set t=t+1 %}
							<tr>
								<td colspan="2" class="theme">Тематичне запитання {{t}} {{question}}</td>
								<td><input type="checkbox" class="select-col" id="lect{{m}}{{t}}"></td>
								<td><input type="checkbox" class="select-col" id="pract{{m}}{{t}}"></td>
								<td><input type="checkbox" class="select-col" id="sem{{m}}{{t}}"></td>
								<td><input type="checkbox" class="select-col" id="lab{{m}}{{t}}"></td>
								<td><input type="checkbox" class="select-col" id="ind{{m}}{{t}}"></td>
								<td><input type="checkbox" class="select-col" id="self{{m}}{{t}}"></td>
							</tr>
						{% endif %}
						{% if type=='question' %}
							<tr>
								<td style="width:25px;"><input type="checkbox" class="select-row"></td>
								<td style="width:500px;">{{ question }}</td>
								<td class="check_type lect{{m}}{{t}}">
                                                                    <input class="hide select" type="checkbox" {% if types_questions[key]['lection'] == 1 %}checked="true"{% endif %} name="lection_{{ key }}">   
								</td>
								<td class="check_type pract{{m}}{{t}}">
                                                                    <input class="hide select" type="checkbox" {% if types_questions[key]['practical'] == 1 %}checked="true"{% endif %} name="practical_{{ key }}">
								</td>
								<td class="check_type sem{{m}}{{t}}">
                                                                    <input class="hide select" type="checkbox" {% if types_questions[key]['seminary'] == 1 %}checked="true"{% endif %} name="seminary_{{ key }}">
								</td>
								<td class="check_type lab{{m}}{{t}}">
                                                                    <input class="hide select" type="checkbox" {% if types_questions[key]['laboratory'] == 1 %}checked="true"{% endif %} name="laboratory_{{ key }}">
								</td>
								<td class="check_type ind{{m}}{{t}}">
                                                                    <input class="hide select" type="checkbox" {% if types_questions[key]['individual'] == 1 %}checked="true"{% endif %} name="individual_{{ key }}">
								</td>
								<td class="check_type self{{m}}{{t}}">
                                                                    <input class="hide select" type="checkbox" {% if types_questions[key]['self'] == 1 %}checked="true"{% endif %} name="self_{{ key }}">
								</td>
							</tr>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
        </tbody>
    </table>
 </div>

    
    
</form>
</div>
<div id="saved"></div>
<div class="offset"></div>



<!------------------------------Scripts--------------------------------->
<script src="/nmzd.local/src/views/js/jquery-1.9.1.js"></script>
<script src="/nmzd.local/src/views/js/jquery.tablesorter.min.js"></script>

<script>
$(function(){
    $('#hidechecked').tablesorter();
});
</script>

<script>
//searching
var $myInput = $('#search-field');
var text = $myInput.val();
var timeout;

$myInput.keyup(function(e){
    var value = $(this).val();
    var url;
    if (value != text) {

        text = value;
        if(timeout) { clearTimeout(timeout); }
        timeout = setTimeout(function() {

            $('.set-types-table td').parent().addClass('search-hide');
            $('.set-types-table td:contains("'+text+'")').parent().removeClass('search-hide');
            if (text==='') {
                $('.set-types-table td').parent().removeClass('search-hide');
            }

            $('.select-col','.set-types-table-top').prop('checked','');

    },500);
  }
});
</script>


<script>
// select col
$('.set-types-table').on('click', '.select-col', function(){
    col = $(this).attr('id');
    checkers = $('td.'+col+' .select','.set-types-table');
    var bgColor = '#DFF0D8';
    var imageUrl = '/src/views/img/green-tick.png';
    
    if ($(this).prop('checked')==true) {
        $(checkers).each(function(i, elem){
            if ($(elem).parent().parent().hasClass('search-hide')===false) {
                $(elem).prop('checked','true');
                row = $(elem).parent().parent();
                
                $('td.'+col,row).css('background-color',bgColor);
                $('td.'+col,row).css('background-image', 'url('+imageUrl+')');
                $('td.'+col,row).css('background-repeat', 'no-repeat');
                $('td.'+col,row).css('background-position', 'center center');
            }
        })
    } else {
        $(checkers).each(function(i, elem){
            if ($(elem).parent().parent().hasClass('search-hide')===false) {
                $(elem).prop('checked','true');
                row = $(elem).parent().parent();
                $('td.'+col,row).css('background-color','');
                $('td.'+col,row).css('background-image', '');
                $('td.'+col,row).css('background-repeat', '');
                $('td.'+col,row).css('background-position', '');
            }
        })
        
    }
    
});
</script>

<script>
// select row
$('.set-types-table').on('click', '.select-row', function(){
    row = $(this).parent().parent();
    var bgColor = '#DFF0D8';
    var imageUrl = '/src/views/img/green-tick.png';
      
    if ($(this).prop('checked')==true) {
        $('.select',row).prop('checked','true');
        $('td.check_type',row).css('background-color',bgColor);
        $('td.check_type',row).css('background-image', 'url('+imageUrl+')');
        $('td.check_type',row).css('background-repeat', 'no-repeat');
        $('td.check_type',row).css('background-position', 'center center');
    } else {
        $('.select',row).prop('checked','');
        $('td.check_type',row).css('background-color','');
        $('td.check_type',row).css('background-image', '');
        $('td.check_type',row).css('background-repeat', '');
        $('td.check_type',row).css('background-position', '');
    }
    
});
</script>

<script>
$(function() {
      var bgColor = '#DFF0D8';
      var imageUrl = '/nmzd.local/src/views/img/green-tick.png';
      var checker = $('.set-types-table td.check_type input:checked');
      
      //if (checker.is(':checked')) {
          checker.parent().css('background-color',bgColor);
          checker.parent().css('background-image', 'url('+imageUrl+')');
          checker.parent().css('background-repeat', 'no-repeat');
          checker.parent().css('background-position', 'center center');
      //}
});
//highlighting of clicked elements
$("#hidechecked").on("click","td.check_type",function(){
      var bgColor = '#DFF0D8';
      var imageUrl = '/nmzd.local/src/views/img/green-tick.png';
      var checker = $(this).find('input');
      if (checker.is(':checked')) {
          checker.prop('checked', '');
          $(this).css('background-color','');
          $(this).css('background-image', '');
          $(this).css('background-repeat', '');
          $(this).css('background-position', '');
      } else {
          checker.prop('checked', 'true');
          $(this).css('background-color',bgColor);
          $(this).css('background-image', 'url('+imageUrl+')');
          $(this).css('background-repeat', 'no-repeat');
          $(this).css('background-position', 'center center');
      }
});

$("#hidechecked").css('height', $('#set-types-table-wrapper').height());


//disable selection in table
jQuery.fn.extend({ 
    disableSelection : function() { 
            this.each(function() { 
                    this.onselectstart = function() { return false; }; // IE, Chrome, Safari
                    this.unselectable = "on"; // IE, Opera
                    jQuery(this).css('-moz-user-select', 'none'); // FF
            }); 
    },
    enableSelection : function() { 
            this.each(function() { 
                    this.onselectstart = function() {}; 
                    this.unselectable = "off"; 
                    jQuery(this).css('-moz-user-select', 'auto'); 
            }); 
    } 
});


$(document).ready(function(){
    $('#hidechecked *').disableSelection(); 
}); 

</script>

<script>
function save() {
    str = $('#set-types-form').serialize();
    console.log(window.location);
    $.post( window.location, { ajaxTypes: str })
    .done(function( data ) {
        //alert( "Data Loaded: " + data );
        $('#saved').html('збережено');
        console.log(data);
        timer = setTimeout(function(){$('#saved').html();}, 1000)
    });
};


$(function(){
    setInterval(function() { save(); }, 10000);
});
</script>

<script>
$('body').on('click','#nextBtn',function(){
	$('#set-types-form').submit();
});
$('body').on('click','#prevBtn',function(){
	window.location.replace('/nmzd.local/nmkd/set-hierarchy')
});
</script>
<!------------------------------/Scripts--------------------------------->

{% endblock mainForm %}

