<style>
    .page2 {
        padding-top: 3mm;
    }
    
    .page2 p{
        line-height:1;
        font-family: "Times New Roman", serif; 
        font-size: 14pt; 
        so-language: uk-UA;
        letter-spacing: 0.008in;
    }
        
        .page2 div.pre-container {
            margin: 0 0 -2px 0;
            letter-spacing: 0;
            font-stretch: normal;
        }

        .page2 div.pre-container p {
            font-family: "Times New Roman", serif; 
            letter-spacing: 0.001in;
            font-stretch: semi-condensed;
            font-weight: 900;
        }

        .page2 .headers {
            text-align: center;
            margin-bottom: -20px;
        }
            .page2 .headers .header1 {
                margin-bottom: -20px;
            }
            
                .page2 .headers .header1 p{
                    font-size: 12pt;
                    font-weight: bold;
                    line-height: 1;
                }
        
                    .page2 .headers .header1 p.par1{
                        margin-bottom: 0.3in;
                    }

                    .page2 .headers .header1 p.par2{
                        margin-bottom: 0in;
                    }

                    .page2 .headers .header1 p.par3{
                        margin-top: 0.05in;
                    }

            .page2 .headers .header2 {
                margin-top: -14px;
            }

                .page2 .headers .header2 p{
                    font-size: 16pt;
                    font-weight: bold;
                    line-height: 1;
                }

                .page2 .headers .header2 p.par1{
                    margin-bottom: 0.06in;
                }

                .page2 .headers .header2 p.par2{
                    margin-top: 0;
                }

            
            .page2 .form {
                margin-top: -18px;
                margin-left: 5px;
                margin-right: 5px;
            }

                .page2 .form p.disc-name {
                    width: 100%; /*262mm*/
                    text-align: center;
                    border-bottom: 2px solid #000;
                    margin-bottom: 0.02in;
                }

                .page2 .form table.row {
                    width: 100%;
                    margin-bottom: 0.15in;
                }

                    .page2 .form .row tr td.underline {
                        border-bottom: 1px solid #000;
                        text-align: center;
                    }

                    .page2 .form .row tr td.text {
                        width: auto;
                        white-space: nowrap;
                        font-size: 12pt;
                        letter-spacing: 0.001in;
                        padding-bottom: -2px;
                    }

                

                .page2 .form .hint {
                    margin-top: -0.4in;
                    padding-top: 0;
                    font-size: 9pt;
                    text-align: center;
                }




            



            
            .page2 p.header2 {
                margin-top: 0.1in;
                margin-bottom: 0in;
            }

        .page2 .empty1 p,
        .page2 .empty2 p {
            text-align: center;
        }
        
    .page2 .empty1 p{
        line-height:1; 
        font-size: 14pt;
        margin-top: 0.032in;
        margin-bottom: -0.0185in;
    }
        
    .page2 .empty2 p{
        line-height:1; 
        font-size: 14pt; 
        font-weight: bold;
        margin-bottom: 0.05in;
    }
        
    .page2 .headers2 p {
        font-size: 14pt;
        font-weight: bold;
        line-height: 80%;
        text-align: center;
    }

    .pre-container p {
        font-size: 12pt;
        line-height: 10%;
        margin-left: 4.5in;
    }

    .page2 .cityYear p {
          margin-top: 0.2in;
          margin-left: -8px;
          font-size: 12pt;
          text-align: center;
          letter-spacing: 0.001in;
    }




  </style>



    <div class="page page2">
        
        <div class="pre-container">
            <p>Додаток 2</p>
            <p style="padding-bottom: 2px;">до наказу</p>
            <p>від {{nmkd.orderDate}} №&nbsp;{{nmkd.order}}</p>
        </div>

        <div class="headers">
            <div class="header1">
                <p class="par1">МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ</p>
                <p class="par2">ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ </p>
                    <p class="par3">ІМЕНІ БОГДАНА ХМЕЛЬНИЦЬКОГО</p>
            </div>
            <div class="header2">
                <p class="par1">НАВЧАЛЬНО-МЕТОДИЧНИЙ КОМПЛЕКС </p>
                        <p class="par2">ДИСЦИПЛІНИ</p>
            </div>
        </div>

        <div class="form">
            
            <table class="row" style="margin-bottom: 14px;">
                <tr>
                    <td class="underline">{{nmkd.disc_name}}</td>
                </tr>
                <tr>
                    <td class="hint">(назва дисципліни)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 11px;">
                <tr>
                    <td class="text">для студентів галузі знань</td>
                    <td class="underline">{{nmkd.knowledge_kind}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint">(шифр і повна назва)</td>
                </tr>
            </table>

            <table class="row"  style="margin-bottom: 12px;">
                <tr>
                    <td class="text">напряму підготовки  /спеціальності</td>
                    <td class="underline">{{nmkd.training_direction}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint" style="float:left;">(шифр і повна назва)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 16px;">
                <tr>
                    <td class="underline"></td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: -5px;">
                <tr>
                    <td class="text">спеціалізації</td>
                    <td class="underline">{{nmkd.specialization}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint">(шифр і повна назва)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 18px;">
                <tr>
                    <td class="underline">{{nmkd.trainigForm}}</td>
                    <td class="text">форми навчання</td>
                </tr>
                <tr>
                    <td class="hint">(денної, заочної, екстернатної, дистанційної, вечірньої)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 22px;">
                <tr>
                    <td class="text">Інститут/факультет</td>
                    <td class="underline">{{nmkd.faculty}}</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 20px;">
                <tr>
                    <td class="text">Кафедра</td>
                    <td class="underline">{{nmkd.cathedra}}</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: -4px;">
                <tr>
                    <td class="text">Укладач(і)</td>
                    <td class="underline">{{nmkd.redactor}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint">(науковий ступінь, учене звання, ініціали, прізвище)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 14px;">
                <tr>
                    <td class="text">Рецензенти:</td>
                    <td class="underline">{{nmkd.reviewers}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint">(науковий ступінь, учене звання, ініціали, прізвище)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 26px;">
                <tr>
                    <td class="underline"></td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 42px;">
                <tr>
                    <td class="underline"></td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 20px;">
                <tr>
                    <td class="text">Затверджено на засіданні кафедри</td>
                    <td class="underline"></td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 20px; margin-left:12px; margin-right:12px;">
                <tr>
                    <td class="underline"></td>
                    <td class="text">(протокол №___ від «      »__________20__)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom: 6px; margin-left:70px; margin-right:70px;">
                <tr>
                    <td class="text">Завідувач кафедри</td>
                    <td class="underline"></td>
                    <td class="text">Ініціали, прізвище</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint">(підпис)</td>
                    <td></td>
                </tr>
            </table>

            <div class="cityYear">
                <p>Черкаси {{nmkd.year}}</p>
            </div>
            
            
            
        </div>




        

        
    </div>

