<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НМЗД</title>

    <link rel="stylesheet" type="text/css" href="{{ base_url }}/src/views/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/src/views/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/src/views/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/src/views/css/bootstrap-theme.css.map">
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/src/views/css/bootstrap.css.map">
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/src/views/css/main.css">

    <style>
        @font-face {
            font-family: 'Glyphicons Halflings';
            src: "{{ base_url }}/src/views/fonts/glyphicons-halflings-regular.eot";
            src: "{{ base_url }}/src/views/fonts/glyphicons-halflings-regular.eot" format('embedded-opentype'), url('/nmzd.local/src/views/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/nmzd.local/src/views/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/nmzd.local/src/views/fonts/glyphicons-halflings-regular.svg') format('svg');
        }
        .ui-icon-plusthick {
            background: "{{ base_url }}/src/views/img/toggle-expand2.png";
        }
        .ui-icon-minusthick {
            background: "{{ base_url }}/src/views/img/toggle-collapse2.png";
        }
    </style>

    <script src="{{ base_url }}/src/views/js/jquery-1.9.1.js"></script>
    <script src="{{ base_url }}/src/views/js/disableSelection.js"></script>
    <script src="{{ base_url }}/src/views/js/bootstrap.min.js"></script>
    <script src="{{ base_url }}/src/views/js/ajaxupload-v1.2.js"></script>
</head>
<body>
<div id="wrap">

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">НМЗД</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Головна</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="/lab/create">Завантажити лабораторну</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/login"><span class="glyphicon glyphicon-lock"></span>&nbsp;Увійти</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    
<div id="main" class="clear-top" style="overflow-x:hidden;">
<div class="row"> 

    <main class="container">
    {% block main %}
    {% endblock main %}
    </main>

    <div style="width: 90%; padding: 20px; margin: 50px;">
    {% block pdfRender %}
    {% endblock pdfRender %}
    </div>

</div>
</div>
</div>

<footer id="footer" class=" navbar-inverse navbar-static-bottom" role="navigation">
  <div class="container-fluid">
	{% block footer %}
    <p class="navbar-text">ЧНУ ім.Богдана Хмельницького, 2014р.</p>
    {% endblock footer %}
  </div>
</footer>

    
    

    
    

</body>
</html>
