{% extends 'base.html.twig' %}

{% block main %}



<div class="page-header">
  <h1>Вітаємо в АІАС НМЗД! <small>Для початку роботи оберіть дисципліну</small></h1>
</div>

<ul id="menu" class="list-group" style="list-style-type:none">
{% for row in disciplines %}
    <li id="item{{row.id}}" class="list-group-item">{{row.name}}</li>
    <a class="list-group-item submenu item{{row.id}}" href="/nmkd/input/{{row.id}}">
        <span class="glyphicon glyphicon-cog"></span> &nbsp;&nbsp;&nbsp;&nbsp;Сформувати НМЗД
    </a>
    <a class="list-group-item submenu item{{row.id}}" href="/nmkd/edit/{{row.id}}">
        <span class="glyphicon glyphicon-eye-open"></span> &nbsp;&nbsp;&nbsp;&nbsp;Переглянути НМЗД
    </a>
{% endfor %}
</ul>

<script>
$(function(){$('#menu .submenu').css('display','none');});
$('#menu').on('click','li',function(){
    submenuClass = $(this).attr('id');
    $('.'+submenuClass).slideToggle(300);
    $(this).toggleClass('active');
});
</script>


<!--<a href="/nmkd/download-pdf">Download</a><br>-->



{% for sessionItem in sessionList %}
    <!--<a href="restore-session/{{sessionItem.id_disc}}">Відновити сессію НМКД "{{sessionItem.name}}"</a><br>-->
{% endfor %}


{% endblock main %}
